<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/Home/Index">
                <i class="bi bi-grid"></i>
                <span>Kontrol Paneli</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Category/Index/">
                <i class="bi bi-menu-button-wide"></i>
                <span>Kategoriler</span>
            </a>
            
        </li><!-- End Category Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Employee/Index/">
                <i class="bi bi-person-workspace"></i>
                <span>Personeller</span>
            </a>
        </li><!-- End Employee Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Customer/Index/">
                <i class="bi bi-person"></i>
                <span>Müşteriler</span>
            </a>
        </li><!-- End Customer Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Product/Index/">
                <i class="bi bi-shop-window"></i>
                <span>Ürünler</span>
            </a>
        </li><!-- End Product Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/MainPage/Index/">
                <i class="bi bi-house"></i>
                <span>Vitrin</span>
            </a>
        </li><!-- End Main Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Register/">
                <i class="bi bi-card-list"></i>
                <span>Üye Ol</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Login/">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Giriş Yap</span>
            </a>
        </li><!-- End Login Page Nav -->


    </ul>

</aside>
