<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/Home/Index">
                <i class="bi bi-grid"></i>
                <span>Kontrol Paneli</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Category/Index/">
                <i class="bi bi-menu-button-wide"></i>
                <span>Kategoriler</span>
            </a>
            
        </li><!-- End Category Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Employee/Index/">
                <i class="bi bi-person-workspace"></i>
                <span>Personeller</span>
            </a>
        </li><!-- End Employee Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Customer/Index/">
                <i class="bi bi-person"></i>
                <span>Müşteriler</span>
            </a>
        </li><!-- End Customer Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Product/Index/">
                <i class="bi bi-shop-window"></i>
                <span>Ürünler</span>
            </a>
        </li><!-- End Product Nav -->

        <!-- End Icons Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-arrow-down-up"></i>
                <span>İşlemler</span>
            </a>
        </li><!-- End İşlemler Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-question-circle"></i>
                <span>S.S.S</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-envelope"></i>
                <span>İletişim</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Register/">
                <i class="bi bi-card-list"></i>
                <span>Üye Ol</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Login/">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Giriş Yap</span>
            </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-dash-circle"></i>
                <span>Error 404</span>
            </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-file-earmark"></i>
                <span>Blank</span>
            </a>
        </li><!-- End Blank Page Nav -->

    </ul>

</aside>
