@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Kontrol Paneli</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Kontrol Paneli</li>
        </ol>
    </nav>

</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">



    </div>
</section>